In [ ]:
from tsfeatures.tsfeatures import *
from tsfeatures.features import *
from functools import partial

In [ ]:
from tsfeatures.m4_data import prepare_m4_data
from tsfeatures.utils import FREQS

In [ ]:

def test_pipeline():
    def calculate_features_m4(dataset_name, directory, num_obs=1000000):
        _, y_train_df, _, _ = prepare_m4_data(dataset_name=dataset_name,
                                              directory = directory,
                                              num_obs=num_obs)

        freq = FREQS[dataset_name[0]]
        py_feats = tsfeatures(y_train_df, freq=freq).set_index('unique_id')

    calculate_features_m4('Hourly', 'data', 100)
    calculate_features_m4('Daily', 'data', 100)

In [ ]:
_, y_train_df, _, _ = prepare_m4_data(dataset_name='Hourly',
                                      directory ='data',
                                      num_obs=100)

In [ ]:
freq='H'

In [ ]:
y_train_df

      unique_id                  ds        y
0            H1 1970-01-01 00:00:00    605.0
1            H1 1970-01-01 01:00:00    586.0
2            H1 1970-01-01 02:00:00    586.0
3            H1 1970-01-01 03:00:00    559.0
4            H1 1970-01-01 04:00:00    511.0
...         ...                 ...      ...
69995       H99 1970-01-29 23:00:00  27926.0
69996       H99 1970-01-30 00:00:00  26744.0
69997       H99 1970-01-30 01:00:00  25829.0
69998       H99 1970-01-30 02:00:00  25421.0
69999       H99 1970-01-30 03:00:00  23252.0

[70000 rows x 3 columns]